## Exercício 1: Verifique se um número é positivo, negativo ou zero.

 #defina um número
 #verificar se é > 0
 #> 0 -> positivo
 #< 0 -> negativo
 #caso não, 0

In [ ]:
  n = float(input('Escreva um número: '))

  if n > 0:
    print('Positivo')

  elif n < 0:
    print('Negativo')

  else:
    print('Zero')

Escreva um número: 987
Positivo

## Exercício 2: Peça dois números e exiba o maior.

 #Digite 2 números
 #1º numero > 2º numero -> saída: 1º número
 #1º numero < 2º numero -> saída: 2º número
 #senão, números iguais

In [ ]:
n = float(input('Escreva o 1º número: '))
m = float(input('Escreva o 2º número: '))

print('\n')

if n > m:
  print('O maior número é: ', n)
elif n < m:
  print('O maior número é: ', m)
else:
  print('Os números são iguais: ' + str(m) + ' = ' + str(n))

Escreva o 1º número: 8
Escreva o 2º número: 7


O maior número é:  8.0

## Exercício 3: Verifique se um número é par ou ímpar.
  #Escrever um número
  #Função resto por 2
  #Se função resto = 0 -> é par
  #Senão -> é impar

In [ ]:
n = int(input('Escreva um número: '))

if (n % 2) == 0:
  print('É par')
else:
  print('É impar')

Escreva um número: 87
É impar

## Exercício 4: Verifique se um ano é bissexto.
  #Escrever o ano
  #Função ano por 4
  #Se função resto = 0 -> é bissexto
  #Senão -> não é bissexto

In [ ]:
ano = int(input('Escreva o ano: '))
resto = int(ano % 4)
if resto == 0:
  print('É bissexto')
else:
  print('Não é bissexto')

Escreva o ano: 2025
Não é bissexto

## Exercício 5: Peça três números e exiba o maior.
 #Digitar 3 numeros
 #a>b>c ou a>c>b = a
 #b>a>c ou b>c>a = b
 #c>a>b ou c>b>a = c
 #a=b=c

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
num3 = int(input('Digite o terceiro número: '))
print('\nO maior número é', max(num1,num2,num3))

Digite o primeiro número: 0
Digite o segundo número: 0
Digite o terceiro número: 0

O maior número é 0

## Exercício 6: Verifique se um usuário pode votar (idade >= 18).
 #digite idade
 #idade >=18 -> Pode votar
 #idade < 18 -> não pode votar

In [ ]:
idade = int(input('Informe a idade: '))

if idade >= 18:
    print('Pode votar')

else:
    print('Não pode votar')

Informe a idade: 16
Não pode votar

## Exercício 7: Verifique se já posso ir embora da aula de Análise de Dados sem assinar a folha.
 #digitar hora atual
 #ver se a hora atual >= estipulda
 #se for, pode sair
 #senão, não pode sair

In [ ]:
from datetime import datetime, time

print(datetime.now().time())
if datetime.now().time() >= time(00,45,0):
  print('Pode')
else:
  print('Não pode')

00:51:47.227338
Pode

In [ ]:
diferenca = timedelta(hours=-3)
print(diferenca)

NameError: name 'timedelta' is not defined

## Exercício 8: Verifique se uma senha digitada corresponde a '1234'.

In [ ]:
senha = int(input('Digite a Senha de Login: '))
if senha == 1234:
  print('\nSenha Correta.\nO login será efetuado.')
else:
  print('\nSenha Incorreta.\nDigite novamente.')

Digite a Senha de Login: 1978

Senha Incorreta.
Digite novamente.

## Exercício 9: Verifique se um número está entre 10 e 50.

In [ ]:
numero = float (input('Digite um número:'))

if (numero >= 10) and (numero < 50):
  print('\nO número está entre 10 e 50.')
else:
  print('\nO número não está entre 10 e 50.')

Digite um número:8

O número não está entre 10 e 50.

In [ ]:
numero = float (input('Digite um número:'))

if 10 < numero < 50:
  print('\nO número está entre 10 e 50.')
else:
  print('\nO número não está entre 10 e 50.')

Digite um número:48

O número está entre 10 e 50.

## Exercício 10: Peça ao usuário um número e exiba 'Alto' se for maior que 100 e 'Baixo' se for menor.

In [ ]:
numero = float (input('Digite um número:'))

if numero > 100:
  print('Alto')
else:
  print('Baixo')

Digite um número:101
Alto

## Exercício 11: Crie um menu onde o usuário pode escolher entre somar, subtrair, multiplicar e dividir dois números.

In [ ]:
num1 = float(input('Digite o primeiro número: '))
num2 = float(input('Digite o segundo número: '))
opcao = str(input('\nEscolha uma das operações:\n\nA - Somar\nB - Subtrair\nC - Multiplicar\nD - Dividir\n'))

if opcao == 'a' or opcao == 'A':
  soma = num1 + num2
  print('\nSoma:',soma)

elif opcao == 'b' or opcao == 'B':
  diferenca1 = num1 - num2
  diferenca2 = num2 - num1
  print('\n1ª Diferença:',diferenca1)
  print('2ª Diferença:',diferenca2)

elif opcao == 'c' or opcao == 'C':
  mult = num1 * num2
  print('\nProduto:',mult)

elif opcao == 'd' or opcao == 'D':
  quociente1 = num1 / num2 if num2 != 0 else quociente1 == 0
  quociente2 = num2 / num1 if num1 != 0 else quociente2 == 0
  print('\n1º Quociente:',quociente1)
  print('2º Quociente:',quociente2)

else:
  print('\nOpção não Encontrada. Digite A ou B ou C ou D')

Digite o primeiro número: 9
Digite o segundo número: 9

Escolha uma das operações:

A - Somar
B - Subtrair
C - Multiplicar
D - Dividir
d

1º Quociente: 1.0
2º Quociente: 1.0

In [ ]:
def operacao(op,a,b):
  return{
      '1': a + b,
      '2': a - b,
      '3': a * b,
      '4': a / b if b != 0 else 'Divisão por zero não aceita'
  }.get(op, 'Operação inválida')

op = input('Escolha: 1-Soma, 2-Sub, 3-Mult, 4-Div: ')
a, b = map(int, input('Digite dois números: ').split())
print('Resultado: ', operacao(op, a, b))

Escolha: 1-Soma, 2-Sub, 3-Mult, 4-Div: 1
Digite dois números: 8 9
Resultado:  17

In [ ]:
def operacao(op,a,b):
  return{
      '1': a + b,
      '2': a - b,
      '3': a * b,
      '4': a / b
         if b != 0
         else 'Divisão por zero não aceita'
  }.get(op, 'Operação inválida')

op = input('Escolha: 1-Soma, 2-Sub, 3-Mult, 4-Div: ')
a = int(input('Digite primeiro número: '))
b = int(input('Digite segundo número: '))
print('Resultado: ', operacao(op, a, b))

Escolha: 1-Soma, 2-Sub, 3-Mult, 4-Div: 2
Digite primeiro número: -8
Digite segundo número: -5
Resultado:  -3

## Exercício 12: Crie um menu para converter temperaturas entre Celsius, Fahrenheit e Kelvin.

In [ ]:
unidade = input('Escolha uma unidade de temperatura:\n\nC - Celsius\nF- Farenheit\nK - Kelvin\n')
temperatura = float(input('\n\nDigite a temperatura: '))

if unidade == 'c' or unidade == 'C':
   celsius = temperatura
   fahrenheit = (celsius * 9/5) + 32
   kelvin = celsius + 273.15

elif unidade == 'f' or unidade == 'F':
   celsius = (fahrenheit - 32) * (5/9)
   fahrenheit = temperatura
   kelvin = (fahrenheit - 32) * (5/9) + 273.15

elif unidade == 'k' or unidade == 'K':
   celsius = kelvin - 273.15
   fahrenheit = (kelvin - 273.15) * (9/5) + 32
   kelvin = temperatura

else:
  print('Opção inválida. Escolha C ou F ou K')

print('\n')
print('Temperatura em Celsius: ', round(celsius,1))
print('Temperatura em Fahrenheit: ', round(fahrenheit,1))
print('Temperatura em Kelvin: ', round(kelvin,1))

Escolha uma unidade de temperatura:

C - Celsius
F- Farenheit
K - Kelvin
k


Digite a temperatura: 200


Temperatura em Celsius:  19.0
Temperatura em Fahrenheit:  66.2
Temperatura em Kelvin:  200.0

In [ ]:
def converter(op, t):
  return {
      '1': (t*9/5) + 32,
      '2': t + 273.15
  }.get(op, 'Opção Inválida')

op = input('Digite a conversão desejada: 1-Celsius para Fahrenhet, 2-Celsius para Kelvin')
t = float(input('Digite a temperatura em Celsius: '))
print('Temperatura convertida: ', converter(op, t))

Digite a conversão desejada: 1-Celsius para Fahrenhet, 2-Celsius para Kelvin2
Digite a temperatura em Celsius: 41
Temperatura convertida:  314.15

## Exercício 13: Crie um programa que traduza números de 1 a 5 para palavras (1 = um, 2 = dois...).

In [ ]:
numero = int(input('Digite um número: '))
if numero == 1: print('1 = um')
elif numero == 2: print('2 = dois')
elif numero == 3: print('3 = três')
elif numero == 4: print('4 = quatro')
elif numero == 5: print('5 = cinco')
else: print('Opção inválida. Digite 1 ou 2 ou 3 ou 4 ou 5.')

Digite um número: 7
Opção inválida. Digite 1 ou 2 ou 3 ou 4 ou 5

In [ ]:
op = input('Digite um número de 1 a 5: ')
print({
    '1':'um',
    '2':'dois',
    '3':'três',
    '4':'quatro',
    '5':'cinco'
}.get(op, 'Opção inválida'))

Digite um número de 1 a 5: 9
Opção inválida

## Exercício 14: Crie um menu onde o usuário pode escolher entre exibir a data, hora ou sair.

In [ ]:
from datetime import datetime, timezone

datahora = datetime.now()
diferenca = datahora.now().timedelta(hours=-3)
fusohorario = timezone(diferenca)
datahoraatual = datahora.astimezone(fusohorario)
data = datahoraatual.now().today()
hora = datahoraatual.now().time()

opcao = input('Escolha:\n\n1 - Data Atual\n2 - Hora Atual\n3 - Sair\n')

if opcao == 1:
  print('\nData:', data)
elif opcao == 2:
  print('\nHora:', hora)
elif opcao == 3:
  exit()
else: print('Opção Inválida. Escolha 1 ou 2 ou 3')

AttributeError: 'datetime.datetime' object has no attribute 'timedelta'

In [ ]:
from datetime import datetime, time, date

op = input('1-Data\n2-Hora\n3-Sair\nEscolha uma das opções: ')
print({
    '1': datetime.now().date(),
    '2': datetime.now().time(),
    '3': 'Saindo'
}.get(op, 'Opção inválida'))

1-Data
2-Hora
3-Sair
Escolha uma das opções: 3
Saindo

In [ ]:
from datetime import datetime, time, date

op = input('1-Data\n2-Hora\n3-Sair\nEscolha uma das opções: ')
print({
    '1': datetime.now().date(),
    '2': datetime.now().time(),
    '3': exit()
}.get(op, 'Opção inválida'))

1-Data
2-Hora
3-Sair
Escolha uma das opções: 3
None

## Exercício 15: Implemente um programa que identifica o dia da semana baseado em um número (1 = Segunda, 7 = Domingo).

In [ ]:
numero = int(input('Digite um número: '))
if numero == 1: print('1 = segunda')
elif numero == 2: print('2 = terça')
elif numero == 3: print('3 = quarta')
elif numero == 4: print('4 = quinta')
elif numero == 5: print('5 = sexta')
elif numero == 6: print('5 = sábado')
elif numero == 7: print('5 = domingo')
else: print('Opção inválida. Digite 1 ou 2 ou 3 ou 4 ou 5 ou 6 ou 7.')

Digite um número: 9
Opção inválida. Digite 1 ou 2 ou 3 ou 4 ou 5 ou 6 ou 7.

In [ ]:
op = input('Digite um número de 1 a 7: ')
print({
    '1':'segunda',
    '2':'terça',
    '3':'quarta',
    '4':'quinta',
    '5':'sexta',
    '6':'sábado',
    '7':'domingo'
}.get(op, 'Opção inválida'))

Digite um número de 1 a 7: 78
Opção inválida

## Exercício 16: Verifique se um número é par ou ímpar usando if ternário.

In [ ]:
n = int(input('Escreva um número: '))
resto = (n % 2)

resultado = "É par" if resto == 0 else "É ímpar"
print(resultado)

Escreva um número: 8
É par

## Exercício 17: Verifique se um número é positivo ou negativo usando if ternário.

In [ ]:
n = float(input('Escreva um número: '))

resultado = "É posito" if n > 0 else "É negativo" if n < 0 else "Neutro"
print(resultado)

Escreva um número: -7
É negativo

## Exercício 18: Retorne 'Adulto' se a idade for maior ou igual a 18, senão 'Menor de idade'.

In [ ]:
idade = int(input('Informe a idade: '))
if idade >= 18: print('Adulto')
else: print('Menor Idade')

Informe a idade: 18
Adulto

In [ ]:
idade = int(input('Informe a idade: '))
resultado = 'Adulto'if idade >= 18 else 'Menor Idade'
print(resultado)

Informe a idade: 78
Adulto

## Exercício 19: Verifique se um número é maior que 100 e retorne 'Grande' ou 'Pequeno'.

In [ ]:
numero = float (input('Digite um número:'))
if numero > 100: print('Grande')
else: print('Pequeno')

Digite um número:200
Grande

In [ ]:
numero = float (input('Digite um número:'))
resultado = 'Grande' if numero > 100 else 'Pequeno'
print(resultado)

Digite um número:12
Pequeno

## Exercício 20: Retorne 'Aprovado' se a nota for maior ou igual a 7, senão 'Reprovado'.

In [ ]:
nota = float (input('Digite a nota:'))
if 7 <= nota <= 10: print('Aprovado')
elif 0 <= nota < 7: print('Reprovado')
else: print('Valor Inválido')

Digite a nota:0
Reprovado

In [ ]:
nota = float(input('Digite a nota: '))
resultado = 'Aprovado' if 7 <= nota <= 10 else 'Reprovado' if 0 <= nota < 7 else 'Valor Inválido'
print(resultado)

Digite a nota: 8
Aprovado

## Exercício 21: Imprima os números de 1 a 10 usando um laço for.

In [ ]:
vetor = []
for X in range(1,11):
    vetor = (vetor + [X])
print(vetor)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## Exercício 22: Imprima os números pares de 1 a 20.

In [ ]:
vetor = []
for X in range(2,22,2):
    vetor = (vetor + [X])
print(vetor)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
for i in range(0, 21, 2):
  if i != 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(2, 21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

## Exercício 23: Calcule a soma dos números de 1 a 100.

In [ ]:
vetor = []
for X in range(1,101):
    vetor = (vetor + [X])
    soma = sum(vetor)
print(soma)

5050

## Exercício 24: Imprima a tabuada do 5.

In [ ]:
vetor = []
X = int(input('Digite um número máximo para ser multiplicado na tabuada de 5 : '))
for X in range(0,X + 1):
    mult = 5 * X
    print('5 x', X, '=', mult)

Digite um número máximo para ser multiplicado na tabuada de 5 : 12
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

## Exercício 25: Imprima os 10 primeiros números da sequência de Fibonacci.

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage
for i in range(10):
    print(fibonacci(i), end=" ")

0 1 1 2 3 5 8 13 21 34

## Exercício 26: Percorra uma string e imprima cada caractere.

In [ ]:
fruta = "banana"
for letra in fruta:
    print(letra)

b
a
n
a
n
a

In [ ]:
fruta = "banana"
indice = 0
while indice < len(fruta):
    letra = fruta[indice]
    print(letra)
    indice += 1

b
a
n
a
n
a

## Exercício 27: Crie um programa que peça um número e imprima sua contagem regressiva até 0.

In [ ]:
contador = int(input('Digite um número máximo para a contagem regressiva: '))
while contador >= 1:
    print(contador)
    contador -= 1
print(contador)

Digite um número máximo para a contagem regressiva: 15
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
contador = int(input('Digite um número máximo para a contagem regressiva: '))
for i in range(contador, -1, -1):
    print(i)

Digite um número máximo para a contagem regressiva: 29
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

## Exercício 28: Crie um programa que solicite 5 números ao usuário e exiba a soma deles.

In [ ]:
a = float(input('Digite o primeiro número: '))
b = float(input('Digite o segundo número: '))
c = float(input('Digite o terceiro número: '))
d = float(input('Digite o quarto número: '))
e = float(input('Digite o quinto número: '))

soma = sum([a,b,c,d,e])
print("\nSOMA: ",soma)

Digite o primeiro número: 4
Digite o segundo número: 6
Digite o terceiro número: 7
Digite o quarto número: 5
Digite o quinto número: 2

SOMA:  24.0

## Exercício 29: Imprima todas as vogais de uma string digitada pelo usuário.

In [ ]:
texto = input('Digite um texto: ')
for letra in texto:
  if letra in 'aeiouAEIOUáéíóúÁÉÍÓÚãõÃÕâêîôûÂÊÎÔÛÀà':
    print(letra)

Digite um texto: Cão e gato se amam
ã
o
e
a
o
e
a
a

## Exercício 30: Crie um programa que peça 5 números e exiba apenas os números pares.

In [ ]:
numeros = [5]
for i in range(5):
    numeros.append(int(input('Digite um número: ')))

print('\n')
for numero in numeros:
  if numero % 2 == 0:
    print(numero)

Digite um número: 4
Digite um número: 8
Digite um número: 9
Digite um número: 5
Digite um número: 44


4
8
44

## Exercício 31: Percorra uma lista de frutas e imprima cada uma.

In [ ]:
frutas = ["maçã", "banana", "laranja", "uva", "pêra", "tucumã"]

for fruta in frutas:
    print(fruta)

maçã
banana
laranja
uva
pêra
tucumã

## Exercício 32: Some todos os números de uma lista.

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
soma = sum(numeros)
print(soma)

55

## Exercício 33: Multiplique cada número de uma lista por 2 e imprima o resultado.

In [ ]:
numeros = [5]
for i in range(5):
    numeros.append(int(input('Digite um número: ')))

print('\n')
for numero in numeros:
  mult = numero * 2
  print(str(numero) + " X " + str(2) + " = " + str(mult))

Digite um número: 5
Digite um número: 9
Digite um número: 8
Digite um número: 6
Digite um número: 4


5 X 2 = 10
5 X 2 = 10
9 X 2 = 18
8 X 2 = 16
6 X 2 = 12
4 X 2 = 8

## Exercício 34: Conte quantas palavras existem em uma lista de palavras.

In [ ]:
lista_de_palavras = ['ola', 'mundo', 'em programação', 'em python']
numero_de_palavras = len(lista_de_palavras)
print("Número de palavras:", numero_de_palavras)

Número de palavras: 4

## Exercício 35: Imprima cada letra de uma palavra separadamente.

In [ ]:
palavra = "Palácio"
lista_letras = list(palavra)
print(lista_letras)

['P', 'a', 'l', 'á', 'c', 'i', 'o']

## Exercício 36: Crie uma lista com 5 números e imprima o maior.

In [ ]:
numeros = [5]
for i in range(5):
    numeros.append(int(input('Digite um número: ')))

print('\n')
print('Maior número:',max(numeros))

Digite um número: 4
Digite um número: 7
Digite um número: 8
Digite um número: 44
Digite um número: 55


Maior número: 55

## Exercício 37: Crie uma lista e inverta a ordem dos elementos.

In [ ]:
lista = []
for i in range(5):
    lista.append(str(input('Digite uma palavra: ')))
lista.reverse()
print('\nLista Invertida:\n')
print(lista)

Digite uma palavra: t
Digite uma palavra: a
Digite uma palavra: w
Digite uma palavra: q
Digite uma palavra: o

Lista Invertida:

['o', 'q', 'w', 'a', 't']

## Exercício 38: Crie uma lista com 5 nomes e remova o último nome.

In [ ]:
lista = ['azul', 'verde', 'ocre', 'cinza', 'violeta']
lista.remove('violeta')
print(lista)

['azul', 'verde', 'ocre', 'cinza']

## Exercício 39: Ordene uma lista de números.

In [ ]:
numeros = [10]
for i in range(10):
    numeros.append(float(input('Digite um número: ')))

print('\n')
numeros.sort()
print('Lista em Ordem Crescente: ',numeros)

Digite um número: 5
Digite um número: 9
Digite um número: 8
Digite um número: 6
Digite um número: 8
Digite um número: 7
Digite um número: 5
Digite um número: 44
Digite um número: 2
Digite um número: 3


Lista em Ordem Crescente:  [2.0, 3.0, 5.0, 5.0, 6.0, 7.0, 8.0, 8.0, 9.0, 10, 44.0]

## Exercício 40: Crie uma lista com 5 números e exiba apenas os pares.

In [ ]:
numeros = [5]
for i in range(5):
    numeros.append(int(input('Digite um número: ')))

print('\n')
par = [i for i in numero if i % 2 == 0]
print('Números Pares:',par)

Digite um número: 4
Digite um número: 7
Digite um número: 88
Digite um número: 99
Digite um número: 55


Números Pares: [54, 66, 12]

## Exercício 41: Crie uma lista e adicione um novo elemento no final.

In [ ]:
   minha_lista = [0,1,2,3]
   minha_lista += [4,5,6,7,8,9,10]
   print(minha_lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Exercício 42: Verifique se um número existe dentro de uma lista.

In [ ]:
lista = [1, 2, 3, 4, 5]

verificar = float(input('Digite um número: '))

if verificar in lista:
    print('O número ' + str(verificar) + ' está na lista.')
else:
    print('O número ' + str(verificar) + ' não está na lista.')

Digite um número: 2.6
O número 2.6 não está na lista.

## Exercício 43: Crie uma lista de números e calcule a média.

In [ ]:
numeros = [7]
for i in range(7):
    numeros.append(float(input('Digite um número: ')))

media = sum(numeros) / len(numeros)
print('\n')
print('Média: ',round(media,3))

Digite um número: 7
Digite um número: 8
Digite um número: 100
Digite um número: -84.65
Digite um número: 0
Digite um número: 23
Digite um número: 7


Média:  8.419

## Exercício 44: Crie uma lista de nomes e converta todos para maiúsculas.

In [ ]:
lista = []
for i in range(5):
    lista.append(str(input('Digite uma palavra: ')))
    lista[i] = lista[i].upper()

print('\n')
print(lista)

Digite uma palavra: Azul
Digite uma palavra: green
Digite uma palavra: rx
Digite uma palavra: cão
Digite uma palavra: cutia


['AZUL', 'GREEN', 'RX', 'CÃO', 'CUTIA']

## Exercício 45: Crie uma lista de números e remova os duplicados.

In [ ]:
lista = []
for i in range(8):
    lista.append(float(input('Digite um número: ')))
    lista_sem_duplicatas = list(set(lista))

print('\n')
print(lista_sem_duplicatas)

Digite um número: 4
Digite um número: 4
Digite um número: 4
Digite um número: 5
Digite um número: 5
Digite um número: 6
Digite um número: 6
Digite um número: 1


[1.0, 4.0, 5.0, 6.0]

## Exercício 46: Crie um dicionário com nomes de alunos e suas notas e exiba a nota de um aluno específico.

In [5]:
# Criação do dicionário com nomes de alunos e suas notas
notas_alunos = {
    "João": 8.5,
    "Maria": 9.2,
    "José": 7.8,
    "Ana": 10.0
}

# Escolhe um nome de aluno para buscar a nota
nome_aluno = str(input('Digite o nome do aluno: '))

# Verifica se o nome do aluno existe no dicionário
if nome_aluno in notas_alunos:
    # Se existir, imprime a nota do aluno
    print('A nota de ' +str(nome_aluno) + ' é: ' + str(notas_alunos[nome_aluno]))
else:
    # Se não existir, informa que o aluno não foi encontrado
    print('Aluno ' + str(nome_aluno) + ' não encontrado no dicionário.')

Digite o nome do aluno: Ana
A nota de Ana é: 10.0

## Exercício 47: Adicione um novo aluno e sua nota a um dicionário.

In [9]:
notas_alunos = {
    "João": 8.5,
    "Maria": 9.2,
    "José": 7.8,
    "Ana": 10.0
}
notas_alunos['Carlos'] = 8.5
notas_alunos['Lúcia'] = 9.2
notas_alunos['Pedro'] = 7.8
notas_alunos['Fernanda'] = 10.0
print(notas_alunos)

{'João': 8.5, 'Maria': 9.2, 'José': 7.8, 'Ana': 10.0, 'Carlos': 8.5, 'Lúcia': 9.2, 'Pedro': 7.8, 'Fernanda': 10.0}

## Exercício 48: Remova um aluno do dicionário.

In [10]:
notas_alunos = {
    "João": 8.5,
    "Maria": 9.2,
    "José": 7.8,
    "Ana": 10.0
}
notas_alunos.pop('Maria')
print(notas_alunos)

{'João': 8.5, 'José': 7.8, 'Ana': 10.0}

## Exercício 49: Percorra um dicionário e imprima suas chaves e valores.

In [17]:
pessoa = {'nome': 'Estebán', 'altura': 1.76, 'idade': 21}
print(pessoa)

{'nome': 'Estebán', 'altura': 1.76, 'idade': 21}

## Exercício 50: Verifique se uma chave existe no dicionário.

In [27]:
pessoa = {'nome': 'Estebán', 'altura': 1.76, 'idade': 21}
pessoa['nome'] = str(input('Digite o nome: '))
print('\n')

if pessoa['nome'] == 'Estebán':
    print(pessoa)
else:
    print(str(pessoa['nome']) + ' não foi encontrado no dicionário.')

Digite o nome: Luan


Luan não foi encontrado no dicionário.